<!DOCTYPE html>
<html>
<head>
	<title>Picture Uploader</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body onload="initGetImg();">
	<h1>Picture Uploader</h1>
	<a class="download" href="http://127.0.0.1:3000/zip">Download All</a>
	<div class="content">
		<div id="pic-container" class="pic-container">
			<div class="button-add">
			<input type="button" value="+" onclick="addImg();">
			</div>
		</div>
	</div>
</body>
</html>
