<!DOCTYPE html>
<html>
<head>
	<title>Picture Uploader</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<h1>Picture Uploader</h1>
	<div class="content">
		<div id="pic-container" class="pic-container">
			<div class="button-add">
			<input type="button" value="+" onclick="addImg();">
			</div>
		</div>
	</div>
</body>
</html>
